
body{
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
}

.navbar{
    min-height: 30px;
    height:30px;
}

.navbar li a{
    padding-bottom: 4px;
    padding-top: 4px;
}
.navbar li a.active{
    color:red;
}
.navbar-static-top {
    margin-bottom: 9px;
}

table tr td.topsplitborder{
    border-top:2px solid #cccccc;
}
