extends layout

block head
    script(src="/javascripts/views/exam.js")
    link(rel='stylesheet', href='/stylesheets/bootstrap/3.2.0/css/bootstrap.css')
    //<!--[if lte IE 8]><link id="ie8Hack" rel="stylesheet" href="http://ytk.fbcontent.cn/ss/657fb017-lte-ie8.css"/><![endif]--> <!--[if lte IE 7]><link id="ie7Hack" rel="stylesheet" href="http://ytk.fbcontent.cn/ss/1342a216-lte-ie7.css"/><![endif]--> <!--[if gte IE 9]><link id="ie9Hack" rel="stylesheet" href="http://ytk.fbcontent.cn/ss/26d1828d-gte-ie9.css"/><![endif]-->

block content
    div.row
        div.col-lg-2(style="background-color:#dddddd")
            h4 this is right
        div.col-lg-7
            //div.table-responsive
            table.table.table-bordered
                tbody
                    tr
                        td 2014年山东省公务员录用考试《行测》真题
                    tr
                        td.topsplitborder 一、单项选择题(共70题，每题1分。每题的备选项目中，只有一个最符合题意)单项选择题(共70题，每题1分。每题的备选项目中，只有一个最符合题意)单项选择题(共70题，每题1分。每题的备选项目中，只有一个最符合题意)
                    tr
                        td.topsplitborder
                            table.table.table-condensed(style="border:0;")
                                tbody
                                    tr
                                        td(width="50") 1
                                        td 这个世界不是孤岛，谁都不可能真的“               ”，尤其是在网络时代，个人的生活越来越多地与他人关联，旁观他人的生活，感受别人的情绪，接受他们的“传播”。
        div.col-lg-3(style="background-color:#dddddd")
            h1 this is right


