extends layout
block head
    script(src="/javascripts/views/exam.js")
    link(rel='stylesheet', href='/stylesheets/exercises.css')
    //ie6-9单独css

block content
    .wrap
    .container.body-wrap.main
        .exercise-wrap(data-sheet-name='专项智能练习（言语理解与表达）', data-version='0', data-sheet-type='3', data-current-chapter-index='0', data-sheet-time='0', data-elapsed-time='0', data-status='-1', data-sheet-question-count='15', data-system-time='1417072535842', data-id='44590885')
            .box-inner-wrap.sidebar-wrap
                .sprite.sprite-box-inner-lt
                .repeat-x.box-inner-t
                .sprite.sprite-box-inner-rt
                .repeat-y.box-inner-r
                .sprite.sprite-box-inner-rb
                .repeat-y.box-inner-l
                .sprite.sprite-box-inner-lb
                .repeat-x.box-inner-b
                .box-inner
                    .sidebar
                        .side-top.sprite.sprite-side-top-bg
                            span.sprite.sprite-clock
                            span.text 已用时
                            span  
                            span.timer 02:31
                        ul.nav
                            li.pause 暂停
                            li.save-exercise
                                a(href='http://www.fenbidemo.com/') 下次继续做
                            li.commit-exercise.last 我要交卷
            .box-inner-wrap.paper-wrap
                .sprite.sprite-box-inner-lt
                .repeat-x.box-inner-t
                .sprite.sprite-box-inner-rt
                .repeat-y.box-inner-r
                .sprite.sprite-box-inner-rb
                .repeat-y.box-inner-l
                .sprite.sprite-box-inner-lb
                .repeat-x.box-inner-b
                .box-inner
                    .exercise-hd
                        img.remain-time-banner.fixed-head(alt='距离考试结束还剩 15 分钟，请抓紧时间答题', src='/img/exercises/85424ffd-remain-time-banner.png')
                        h1.sheet-name 专项智能练习（言语理解与表达）
                        .split-box.last
                            span.sprite.sprite-box-split-l
                            span.repeat-x.box-split
                            span.sprite.sprite-box-split-r
                    .exercise-bd
                        .placeholder
                            h1.sheet-name 专项智能练习（言语理解与表达）
                            .split-box.last
                                span.sprite.sprite-box-split-l
                                span.repeat-x.box-split
                                span.sprite.sprite-box-split-r
                        .chapter-desc-list
                        .chapter-wrap
                            #question0.question-wrap(data-id='161443', data-type='1', data-question-index='0')
                                .question
                                    .content.clearfix
                                        .index.pull-left 1
                                        .overflow
                                            p
                                                span(style='color: rgb(51, 51, 51);') 对很多作家来说，最
                                                u
                                                    span(style='color: rgb(51, 51, 51);')        
                                                span(style='color: rgb(51, 51, 51);') 的文字，几乎都是源自早年的乡土经验。因为一进入旧时的场景，就温暖，就自在，就身心通泰，
                                                u
                                                    span(style='color: rgb(51, 51, 51);')         
                                                span(style='color: rgb(51, 51, 51);') ，有如神助。相反，那些凭空想象的创作，虽然
                                                u
                                                    span(style='color: rgb(51, 51, 51);')         
                                                span(style='color: rgb(51, 51, 51);') ，用尽心力，还是拘涩凝滞，不能自由伸展。
                                            p
                                                span(style='color: rgb(51, 51, 51);') 依次填入划横线部分最恰当的一项是：
                                    .options
                                        .option
                                            span.lbl A
                                            | 成功  洋洋洒洒  精雕细琢
                                        .option.correct
                                            span.lbl B
                                            | 得意  下笔成章  绞尽脑汁
                                        .option
                                            span.lbl C
                                            | 原创  文思泉涌  处心积虑
                                        .option
                                            span.lbl D
                                            | 珍贵  妙语连珠  费尽心机
                                    span.flag.pull-right
                                        span.sprite.sprite-star-border-yellow(title='收藏题目')
                                        | 收藏本题
                                    span.cancel-flag.pull-right.hide
                                        span.sprite.sprite-star-filled(title='取消收藏')
                                        | 取消收藏
                                    .answer-area
                                        ul.answers
                                            li.answer(data-answer-index='0')
                                                span.i-20.answer-radio
                                                | A
                                            li.answer(data-answer-index='1')
                                                span.i-20.answer-radio
                                                | B
                                            li.answer(data-answer-index='2')
                                                span.i-20.answer-radio
                                                | C
                                            li.answer(data-answer-index='3')
                                                span.i-20.answer-radio
                                                | D
                            .split-box
                                span.sprite.sprite-box-split-l
                                span.repeat-x.box-split
                                span.sprite.sprite-box-split-r
                            #question1.question-wrap(data-id='161419', data-type='1', data-question-index='1')
                                .question
                                    .content.clearfix
                                        .index.pull-left 2
                                        .overflow
                                            p
                                                span(style='color: rgb(51, 51, 51);') 当人类社会进入到信息时代，曾有人
                                                u
                                                    span(style='color: rgb(51, 51, 51);')         
                                                span(style='color: rgb(51, 51, 51);') ，计算机是方块汉字的掘墓人。然而，事实
                                                u
                                                    span(style='color: rgb(51, 51, 51);')         
                                                span(style='color: rgb(51, 51, 51);') 了对汉字的这些偏见和悲观论调。据统计，现在已有1000多种汉字输入法，无论从速度还是准确率上看，方块汉字的计算机输入丝毫不逊色于拼音文字。
                                            p
                                                span(style='color: rgb(51, 51, 51);') 依次填入划横线部分最恰当的一项是：
                                    .options
                                        .option
                                            span.lbl A
                                            | 宣称  打破
                                        .option.correct
                                            span.lbl B
                                            | 断言  粉碎
                                        .option
                                            span.lbl C
                                            | 妄言  驳斥
                                        .option
                                            span.lbl D
                                            | 预言  批判
                                    span.flag.pull-right
                                        span.sprite.sprite-star-border-yellow(title='收藏题目')
                                        | 收藏本题
                                    span.cancel-flag.pull-right.hide
                                        span.sprite.sprite-star-filled(title='取消收藏')
                                        | 取消收藏
                                    .answer-area
                                        ul.answers
                                            li.answer(data-answer-index='0')
                                                span.i-20.answer-radio
                                                | A
                                            li.answer(data-answer-index='1')
                                                span.i-20.answer-radio
                                                | B
                                            li.answer(data-answer-index='2')
                                                span.i-20.answer-radio
                                                | C
                                            li.answer(data-answer-index='3')
                                                span.i-20.answer-radio
                                                | D
                            .split-box
                                span.sprite.sprite-box-split-l
                                span.repeat-x.box-split
                                span.sprite.sprite-box-split-r
                            #question2.question-wrap(data-id='161429', data-type='1', data-question-index='2')
                                .question
                                    .content.clearfix
                                        .index.pull-left 3
                                        .overflow
                                            p
                                                span(style='color: rgb(51, 51, 51);')
                                                    | 近几年，不少银行向影视业提供了较多的贷款支持，但迫切渴望融资渠道中的中小影视公司仍难以得到扶持，银行往往只是“________”。而私募基金投资影视业则是“________”：尽管目前号称以影视产业为主要投资方向的基金已有近20只，声称募集资金达200亿元，但披露的有影响力的投资项目却寥寥可数。
                                            p
                                                span(style='color: rgb(51, 51, 51);') 依次填入划横线部分最恰当的一项是：
                                    .options
                                        .option
                                            span.lbl A
                                            | 借花献佛    小心翼翼
                                        .option
                                            span.lbl B
                                            | 雪中送炭    纸上谈兵
                                        .option
                                            span.lbl C
                                            | 点到为止    画饼充饥
                                        .option.correct
                                            span.lbl D
                                            | 锦上添花
                                            | 雷大雨小
                                    span.flag.pull-right
                                        span.sprite.sprite-star-border-yellow(title='收藏题目')
                                        | 收藏本题
                                    span.cancel-flag.pull-right.hide
                                        span.sprite.sprite-star-filled(title='取消收藏')
                                        | 取消收藏
                                    .answer-area
                                        ul.answers
                                            li.answer(data-answer-index='0')
                                                span.i-20.answer-radio
                                                | A
                                            li.answer(data-answer-index='1')
                                                span.i-20.answer-radio
                                                | B
                                            li.answer(data-answer-index='2')
                                                span.i-20.answer-radio
                                                | C
                                            li.answer(data-answer-index='3')
                                                span.i-20.answer-radio
                                                | D
                            .split-box
                                span.sprite.sprite-box-split-l
                                span.repeat-x.box-split
                                span.sprite.sprite-box-split-r
                            #question3.question-wrap(data-id='23013', data-type='1', data-question-index='3')
                                .question
                                    .content.clearfix
                                        .index.pull-left 4
                                        .overflow
                                            p
                                                | 一个画家要明白宣告的宗旨是使得人们对于人生，对于自身，对于自己生活中所能起的作用感兴趣。而达到这一目的，最好的办法是通过艺术使人们相信人生是一场很有意思的游戏，人人都能参加，任何生活方式，哪怕高雅，再拘谨，总是会有很多出路和通道。况且人生的乐趣也不归政治家或百万富翁所专有，而是公平分配的，只要我们为它留出一点时间，耐心和想象力，不要只泡在什么具体的目标或粗犷的野心中去。因此，真正的艺术和绘画在我们身边悄悄说出的那个重大的秘密是
                                                u
                                                | 。
                                            p 填入划横线部分最恰当的一句是（  ）。
                                    .options
                                        .option
                                            span.lbl A
                                            | 我们想要了解的事物，总是始于我们的好奇心
                                        .option
                                            span.lbl B
                                            | 千变万化的生活，决定我们的人生是否充实
                                        .option.correct
                                            span.lbl C
                                            | 只要我们的生活充实，生活经验本身自有价值
                                        .option
                                            span.lbl D
                                            | 人生的意义完全在于给予，而不是在于主动索取
                                    span.flag.pull-right
                                        span.sprite.sprite-star-border-yellow(title='收藏题目')
                                        | 收藏本题
                                    span.cancel-flag.pull-right.hide
                                        span.sprite.sprite-star-filled(title='取消收藏')
                                        | 取消收藏
                                    .answer-area
                                        ul.answers
                                            li.answer(data-answer-index='0')
                                                span.i-20.answer-radio
                                                | A
                                            li.answer(data-answer-index='1')
                                                span.i-20.answer-radio
                                                | B
                                            li.answer(data-answer-index='2')
                                                span.i-20.answer-radio
                                                | C
                                            li.answer(data-answer-index='3')
                                                span.i-20.answer-radio
                                                | D
                            .split-box
                                span.sprite.sprite-box-split-l
                                span.repeat-x.box-split
                                span.sprite.sprite-box-split-r
                            #question4.question-wrap(data-id='161433', data-type='1', data-question-index='4')
                                .question
                                    .content.clearfix
                                        .index.pull-left 5
                                        .overflow
                                            p
                                                span(style='color: rgb(51, 51, 51);')
                                                    | 或许我们真的需要经典作品来________我们偶尔困顿迷茫的精神，用大师的智慧烛照我们前行的步伐，他们的作品有着________岁月阻隔的力度，唤起我们在这个浮躁时代里重新对人生的追索，从眼前困扰的现实中超脱出来。
                                            p
                                                span(style='color: rgb(51, 51, 51);') 依次填入划横线部分最恰当的一项是：
                                    .options
                                        .option
                                            span.lbl A
                                            | 观照    消弭
                                        .option.correct
                                            span.lbl B
                                            | 支撑    穿透
                                        .option
                                            span.lbl C
                                            | 唤醒    超越
                                        .option
                                            span.lbl D
                                            | 消除    跨越
                                    span.flag.pull-right
                                        span.sprite.sprite-star-border-yellow(title='收藏题目')
                                        | 收藏本题
                                    span.cancel-flag.pull-right.hide
                                        span.sprite.sprite-star-filled(title='取消收藏')
                                        | 取消收藏
                                    .answer-area
                                        ul.answers
                                            li.answer(data-answer-index='0')
                                                span.i-20.answer-radio
                                                | A
                                            li.answer(data-answer-index='1')
                                                span.i-20.answer-radio
                                                | B
                                            li.answer(data-answer-index='2')
                                                span.i-20.answer-radio
                                                | C
                                            li.answer(data-answer-index='3')
                                                span.i-20.answer-radio
                                                | D
                            .split-box
                                span.sprite.sprite-box-split-l
                                span.repeat-x.box-split
                                span.sprite.sprite-box-split-r
                            #question5.question-wrap(data-id='161469', data-type='1', data-question-index='5')
                                .question
                                    .content.clearfix
                                        .index.pull-left 6
                                        .overflow
                                            p
                                                | 诺贝尔文学奖得主埃利亚斯·卡内提的杰作《群众与权力》是一部分析不同族群特征的最具影响力的著作。该著作从不同角度剖析群众的形象，首先是按国别、地缘、族群来展开，并去分析每个国家特殊的文化背景，由于作者没有从经济层面展开分析，在国别分析中范围仅限于欧洲，因此，本文尝试
                                                u              
                                                | 。
                                            p 填入划横线部分最恰当的一句是：
                                    .options
                                        .option
                                            span.lbl A
                                            | 从经济层面来谈谈欧洲族群特征研究对我国的启示
                                        .option
                                            span.lbl B
                                            | 从文化层面来谈谈特殊文化背景对欧洲族群的影响
                                        .option
                                            span.lbl C
                                            | 从文化层面来谈谈欧洲文化背景对日本族群的影响
                                        .option.correct
                                            span.lbl D
                                            | 从经济层面来谈谈中国和日本的族群特征及其启示
                                    span.flag.pull-right
                                        span.sprite.sprite-star-border-yellow(title='收藏题目')
                                        | 收藏本题
                                    span.cancel-flag.pull-right.hide
                                        span.sprite.sprite-star-filled(title='取消收藏')
                                        | 取消收藏
                                    .answer-area
                                        ul.answers
                                            li.answer(data-answer-index='0')
                                                span.i-20.answer-radio
                                                | A
                                            li.answer(data-answer-index='1')
                                                span.i-20.answer-radio
                                                | B
                                            li.answer(data-answer-index='2')
                                                span.i-20.answer-radio
                                                | C
                                            li.answer(data-answer-index='3')
                                                span.i-20.answer-radio
                                                | D
                            .split-box
                                span.sprite.sprite-box-split-l
                                span.repeat-x.box-split
                                span.sprite.sprite-box-split-r
                            #question6.question-wrap(data-id='161437', data-type='1', data-question-index='6')
                                .question
                                    .content.clearfix
                                        .index.pull-left 7
                                        .overflow
                                            p
                                                span(style='color: rgb(51, 51, 51);') 治理环境确为政府职责，环境出现问题，其监管
                                                u
                                                    span(style='color: rgb(51, 51, 51);')         
                                                span(style='color: rgb(51, 51, 51);') 、执法不严难逃其责，但是，但大家不断
                                                u
                                                    span(style='color: rgb(51, 51, 51);')         
                                                span(style='color: rgb(51, 51, 51);') 政府不作为时，是不是也应该
                                                u
                                                    span(style='color: rgb(51, 51, 51);')         
                                                span(style='color: rgb(51, 51, 51);') 一下自己：我们有没有污染环境？　
                                            p
                                                span(style='color: rgb(51, 51, 51);') 依次填入划横线部分最恰当的一项是：
                                    .options
                                        .option
                                            span.lbl A
                                            | 不当  谴责  检察
                                        .option
                                            span.lbl B
                                            | 不周  斥责  检查
                                        .option
                                            span.lbl C
                                            | 不善  苛责  检点
                                        .option.correct
                                            span.lbl D
                                            | 不力  指责
                                            | 检讨
                                    span.flag.pull-right
                                        span.sprite.sprite-star-border-yellow(title='收藏题目')
                                        | 收藏本题
                                    span.cancel-flag.pull-right.hide
                                        span.sprite.sprite-star-filled(title='取消收藏')
                                        | 取消收藏
                                    .answer-area
                                        ul.answers
                                            li.answer(data-answer-index='0')
                                                span.i-20.answer-radio
                                                | A
                                            li.answer(data-answer-index='1')
                                                span.i-20.answer-radio
                                                | B
                                            li.answer(data-answer-index='2')
                                                span.i-20.answer-radio
                                                | C
                                            li.answer(data-answer-index='3')
                                                span.i-20.answer-radio
                                                | D
                            .split-box
                                span.sprite.sprite-box-split-l
                                span.repeat-x.box-split
                                span.sprite.sprite-box-split-r
                            #question7.question-wrap(data-id='22693', data-type='1', data-question-index='7')
                                .question
                                    .content.clearfix
                                        .index.pull-left 8
                                        .overflow
                                            p
                                                | 为了满足不断被制造出来、被刺激起来的欲望，
                                                u
                                                | 的商品就像阿里巴巴的山洞，成为
                                                u
                                                | 购买欲的引擎。其实，拥有再多，也永远渴望货架上的下一个。
                                            p 依次填入划横线部分最恰当的一项是（  ）。
                                    .options
                                        .option
                                            span.lbl A
                                            | 五花八门   触动
                                        .option.correct
                                            span.lbl B
                                            | 琳琅满目   触发
                                        .option
                                            span.lbl C
                                            | 丰富多彩   触及
                                        .option
                                            span.lbl D
                                            | 形形色色   触碰
                                    span.flag.pull-right
                                        span.sprite.sprite-star-border-yellow(title='收藏题目')
                                        | 收藏本题
                                    span.cancel-flag.pull-right.hide
                                        span.sprite.sprite-star-filled(title='取消收藏')
                                        | 取消收藏
                                    .answer-area
                                        ul.answers
                                            li.answer(data-answer-index='0')
                                                span.i-20.answer-radio
                                                | A
                                            li.answer(data-answer-index='1')
                                                span.i-20.answer-radio
                                                | B
                                            li.answer(data-answer-index='2')
                                                span.i-20.answer-radio
                                                | C
                                            li.answer(data-answer-index='3')
                                                span.i-20.answer-radio
                                                | D
                            .split-box
                                span.sprite.sprite-box-split-l
                                span.repeat-x.box-split
                                span.sprite.sprite-box-split-r
                            #question8.question-wrap(data-id='43743', data-type='1', data-question-index='8')
                                .question
                                    .content.clearfix
                                        .index.pull-left 9
                                        .overflow
                                            p
                                                | 20年市场经济改革，把中国经济送上了持续增长的快车道，把在现代化道路上艰苦跋涉的中国人推上了一个高峰。然而，
                                                u
                                                | ，我们一刻都不曾忘记发展中那些“不平衡、不协调、不可持续”的风险隐患；
                                                u
                                                | ，“发展起来以后的问题不比不发展时少”。
                                            p 依次填入划横线部分最恰当的一项是（  ）。
                                    .options
                                        .option
                                            span.lbl A
                                            | 夕惕若厉    如履薄冰
                                        .option
                                            span.lbl B
                                            | 防患未然    戒骄戒躁
                                        .option
                                            span.lbl C
                                            | 常备不懈    未雨绸缪
                                        .option.correct
                                            span.lbl D
                                            | 居安思危
                                            | 喜中有忧
                                    span.flag.pull-right
                                        span.sprite.sprite-star-border-yellow(title='收藏题目')
                                        | 收藏本题
                                    span.cancel-flag.pull-right.hide
                                        span.sprite.sprite-star-filled(title='取消收藏')
                                        | 取消收藏
                                    .answer-area
                                        ul.answers
                                            li.answer(data-answer-index='0')
                                                span.i-20.answer-radio
                                                | A
                                            li.answer(data-answer-index='1')
                                                span.i-20.answer-radio
                                                | B
                                            li.answer(data-answer-index='2')
                                                span.i-20.answer-radio
                                                | C
                                            li.answer(data-answer-index='3')
                                                span.i-20.answer-radio
                                                | D
                            .split-box
                                span.sprite.sprite-box-split-l
                                span.repeat-x.box-split
                                span.sprite.sprite-box-split-r
                            #question9.question-wrap(data-id='161479', data-type='1', data-question-index='9')
                                .question
                                    .content.clearfix
                                        .index.pull-left 10
                                        .overflow
                                            p
                                                | 进入21世纪以来，欧洲一直受竞争力下滑的困扰。2010年，欧盟曾在新颁布的“欧洲2020战略”中，明确提出研发创新占国内生产总值的比例平均每年都要达到3%。但在债务危机的冲击下，各国忙于紧缩财政，创新问题一直被忽视。根据欧盟最新的统计数字，2011年，欧盟研发经费占国内生产总值的比列仅为2.03%，27个成员国中，仅丹麦和马耳他实现了既定目标。未来数年，由于公共债务和“财政契约”的限制，欧盟各国的财政政策总体上仍会偏紧，能够用于刺激研发的资金有限，这意味着创新困境难有改善，从根本上决定了欧洲经济增长将缺乏引擎。
                                            p 根据这段文字，欧洲竞争力不断下滑的根本原因是：
                                    .options
                                        .option
                                            span.lbl A
                                            | 债务危机重创欧洲制造业
                                        .option
                                            span.lbl B
                                            | 用于研发的资金投入有限
                                        .option.correct
                                            span.lbl C
                                            | 财政紧缩导致创新力度不足
                                        .option
                                            span.lbl D
                                            | 经济增长无法带动产品质量上升
                                    span.flag.pull-right
                                        span.sprite.sprite-star-border-yellow(title='收藏题目')
                                        | 收藏本题
                                    span.cancel-flag.pull-right.hide
                                        span.sprite.sprite-star-filled(title='取消收藏')
                                        | 取消收藏
                                    .answer-area
                                        ul.answers
                                            li.answer(data-answer-index='0')
                                                span.i-20.answer-radio
                                                | A
                                            li.answer(data-answer-index='1')
                                                span.i-20.answer-radio
                                                | B
                                            li.answer(data-answer-index='2')
                                                span.i-20.answer-radio
                                                | C
                                            li.answer(data-answer-index='3')
                                                span.i-20.answer-radio
                                                | D
                            .split-box
                                span.sprite.sprite-box-split-l
                                span.repeat-x.box-split
                                span.sprite.sprite-box-split-r
                            #question10.question-wrap(data-id='43799', data-type='1', data-question-index='10')
                                .question
                                    .content.clearfix
                                        .index.pull-left 11
                                        .overflow
                                            p
                                                | 美国交通运输业正逐渐从以石油为基础过渡为采用多种替代能源，如乙醇、生物柴油、电力或氢能等。为了更加壮大这支队伍，能源部阿贡国家实验室的研究人员已经开始调查将压缩天然气（CNG）作为轻型轿车和卡车能源选择的可能性。CNG汽车是指主要由甲烷构成的天然气在25兆帕左右的压力下储存在车内类似于油箱的气瓶内、用作汽车燃料。使用CNG替代汽油作为汽车燃料，可大量减少温室气体排放和噪音污染，而且其不含铅、苯等致癌的有毒物质。
                                            p 下列说法与原文不符的是（  ）。
                                    .options
                                        .option.correct
                                            span.lbl A
                                            | CNG作为卡车能源可能性很大
                                        .option
                                            span.lbl B
                                            | CNG可能会成为一种替代能源
                                        .option
                                            span.lbl C
                                            | 美国交通运输业现在仍以石油为基础
                                        .option
                                            span.lbl D
                                            | CNG替代汽油作为汽车燃料好处很多
                                    span.flag.pull-right
                                        span.sprite.sprite-star-border-yellow(title='收藏题目')
                                        | 收藏本题
                                    span.cancel-flag.pull-right.hide
                                        span.sprite.sprite-star-filled(title='取消收藏')
                                        | 取消收藏
                                    .answer-area
                                        ul.answers
                                            li.answer(data-answer-index='0')
                                                span.i-20.answer-radio
                                                | A
                                            li.answer(data-answer-index='1')
                                                span.i-20.answer-radio
                                                | B
                                            li.answer(data-answer-index='2')
                                                span.i-20.answer-radio
                                                | C
                                            li.answer(data-answer-index='3')
                                                span.i-20.answer-radio
                                                | D
                            .split-box
                                span.sprite.sprite-box-split-l
                                span.repeat-x.box-split
                                span.sprite.sprite-box-split-r
                            #question11.question-wrap(data-id='22797', data-type='1', data-question-index='11')
                                .question
                                    .content.clearfix
                                        .index.pull-left 12
                                        .overflow
                                            p
                                                | 其实“拥有秘密”是成年的一个
                                                u
                                                | ，孩子要长大成人，必然要进入一个拥有秘密的世界。这是一个
                                                u
                                                | 的过程，最初，孩子并没分清哪些是秘密，不知道如何保守秘密。不懂得给秘密分级，但是他们又极为渴望拥有秘密。于是，他们的生活变得
                                                u
                                                | ，好像每个人都守着很多不能告诉别人的秘密。
                                            p 依次填入划横线部分最恰当的一项是（  ）。
                                    .options
                                        .option.correct
                                            span.lbl A
                                            | 标志  学习  神秘兮兮
                                        .option
                                            span.lbl B
                                            | 界线  成长  神秘莫测
                                        .option
                                            span.lbl C
                                            | 特征  积累  莫测高深
                                        .option
                                            span.lbl D
                                            | 象征  变化  深不可测
                                    span.flag.pull-right
                                        span.sprite.sprite-star-border-yellow(title='收藏题目')
                                        | 收藏本题
                                    span.cancel-flag.pull-right.hide
                                        span.sprite.sprite-star-filled(title='取消收藏')
                                        | 取消收藏
                                    .answer-area
                                        ul.answers
                                            li.answer(data-answer-index='0')
                                                span.i-20.answer-radio
                                                | A
                                            li.answer(data-answer-index='1')
                                                span.i-20.answer-radio
                                                | B
                                            li.answer(data-answer-index='2')
                                                span.i-20.answer-radio
                                                | C
                                            li.answer(data-answer-index='3')
                                                span.i-20.answer-radio
                                                | D
                            .split-box
                                span.sprite.sprite-box-split-l
                                span.repeat-x.box-split
                                span.sprite.sprite-box-split-r
                            #question12.question-wrap(data-id='161457', data-type='1', data-question-index='12')
                                .question
                                    .content.clearfix
                                        .index.pull-left 13
                                        .overflow
                                            p
                                                | 一个普遍的说法是，人类能辨别1万种不同的气味。一只猎犬的鼻膜上有2.2亿个气味受体细胞，而人类只有2000万个，但我们的嗅觉系统也是相当复杂而专业的。气味分子随气流进入鼻子，通过鼻腔顶端上皮和它的气味受体细胞，这些细胞表面覆盖着能捕捉气味分子的蛋白。气味受体蛋白共有300多种，分别负责不同的气味分子，可以产生大量组合，形成大量的气味模式，
                                                u            
                                                | 。而且我们的嗅觉很容易训练，短期内可见惊人成效。在实验中，如果暴露在单一的花香中，人只要3分半钟，就能极大提高对这种花香的辨别能力。
                                            p 填入划横线部分最恰当的一句是：
                                    .options
                                        .option
                                            span.lbl A
                                            | 这些气味信息直接进入嗅觉皮层还会影响人的情感反应
                                        .option
                                            span.lbl B
                                            | 但是不同的人对这些气味模式的敏感程度有所不同
                                        .option.correct
                                            span.lbl C
                                            | 这也就是人类能够辨别1万种不同气味的原因
                                        .option
                                            span.lbl D
                                            | 因此对人类来讲嗅觉仍是第一大感官知觉
                                    span.flag.pull-right
                                        span.sprite.sprite-star-border-yellow(title='收藏题目')
                                        | 收藏本题
                                    span.cancel-flag.pull-right.hide
                                        span.sprite.sprite-star-filled(title='取消收藏')
                                        | 取消收藏
                                    .answer-area
                                        ul.answers
                                            li.answer(data-answer-index='0')
                                                span.i-20.answer-radio
                                                | A
                                            li.answer(data-answer-index='1')
                                                span.i-20.answer-radio
                                                | B
                                            li.answer(data-answer-index='2')
                                                span.i-20.answer-radio
                                                | C
                                            li.answer(data-answer-index='3')
                                                span.i-20.answer-radio
                                                | D
                            .split-box
                                span.sprite.sprite-box-split-l
                                span.repeat-x.box-split
                                span.sprite.sprite-box-split-r
                            #question13.question-wrap(data-id='22857', data-type='1', data-question-index='13')
                                .question
                                    .content.clearfix
                                        .index.pull-left 14
                                        .overflow
                                            p
                                                | 有幸在毕业典礼上致辞，既需
                                                u          
                                                | 学生，也该
                                                u
                                                | 老师——长江后浪推前浪。“前浪”怎么办？“前浪”不该过早的停下脚步，还得尽量往前赶，在这个意义上，这毕业典礼，既属于
                                                u
                                                | 的毕业生，也属于自强不息的指导老师。
                                            p 依次填入划横线部分最恰当的一项是（  ）。
                                    .options
                                        .option
                                            span.lbl A
                                            | 鼓励   表扬   踌躇满志
                                        .option
                                            span.lbl B
                                            | 奖励   表彰   指点江山
                                        .option
                                            span.lbl C
                                            | 鞭策   告知   斗志昂扬
                                        .option.correct
                                            span.lbl D
                                            | 激励   警醒
                                            | 朝气蓬勃
                                    span.flag.pull-right
                                        span.sprite.sprite-star-border-yellow(title='收藏题目')
                                        | 收藏本题
                                    span.cancel-flag.pull-right.hide
                                        span.sprite.sprite-star-filled(title='取消收藏')
                                        | 取消收藏
                                    .answer-area
                                        ul.answers
                                            li.answer(data-answer-index='0')
                                                span.i-20.answer-radio
                                                | A
                                            li.answer(data-answer-index='1')
                                                span.i-20.answer-radio
                                                | B
                                            li.answer(data-answer-index='2')
                                                span.i-20.answer-radio
                                                | C
                                            li.answer(data-answer-index='3')
                                                span.i-20.answer-radio
                                                | D
                            .split-box
                                span.sprite.sprite-box-split-l
                                span.repeat-x.box-split
                                span.sprite.sprite-box-split-r
                            #question14.question-wrap(data-id='161415', data-type='1', data-question-index='14')
                                .question
                                    .content.clearfix
                                        .index.pull-left 15
                                        .overflow
                                            p
                                                span(style='color: rgb(51, 51, 51);') 尽管人工培育和种植可以在很大程序上弥补市场需求的缺口，起到保护野生中草药的效果，但是这种做法并非
                                                u
                                                    span(style='color: rgb(51, 51, 51);')         
                                                span(style='color: rgb(51, 51, 51);') ，因为有的品种可以实现人工种植，但仍有很多草药品种无法实现这一突破。面对越来越多野生中草药濒危的现状，启动对野生中草药资源的大规模普查
                                                u
                                                    span(style='color: rgb(51, 51, 51);')         
                                                span(style='color: rgb(51, 51, 51);') 。
                                            p
                                                span(style='color: rgb(51, 51, 51);') 依次填入划横线部分最恰当的一项是：
                                    .options
                                        .option
                                            span.lbl A
                                            | 无可厚非  为期不远
                                        .option.correct
                                            span.lbl B
                                            | 一劳永逸  势在必行
                                        .option
                                            span.lbl C
                                            | 事半功倍  任重道远
                                        .option
                                            span.lbl D
                                            | 万无一失  恰中要害
                                    span.flag.pull-right
                                        span.sprite.sprite-star-border-yellow(title='收藏题目')
                                        | 收藏本题
                                    span.cancel-flag.pull-right.hide
                                        span.sprite.sprite-star-filled(title='取消收藏')
                                        | 取消收藏
                                    .answer-area
                                        ul.answers
                                            li.answer(data-answer-index='0')
                                                span.i-20.answer-radio
                                                | A
                                            li.answer(data-answer-index='1')
                                                span.i-20.answer-radio
                                                | B
                                            li.answer(data-answer-index='2')
                                                span.i-20.answer-radio
                                                | C
                                            li.answer(data-answer-index='3')
                                                span.i-20.answer-radio
                                                | D
                    .exercise-ft(style='height: 51px;')
                        .question-sheet-wrap.sheet-wrap.fixed(style='margin-bottom: -56px;')
                            .box-gray-wrap
                                .repeat-x.box-gray-t
                                .repeat-x.box-gray-b
                                .repeat-y.box-gray-l
                                .repeat-y.box-gray-r
                                .sprite.sprite-box-gray-lt
                                .sprite.sprite-box-gray-rt
                                .sprite.sprite-box-gray-lb
                                .sprite.sprite-box-gray-rb
                                .sprite.sprite-box-gray-legend.toggle
                                    span.text 展开答题卡
                                    span.sprite.sprite-circle-up-arrow.i-20
                                .sprite.sprite-box-gray-legend.title
                                    span.text 答题卡
                                .box-gray
                                    .question-sheet
                                        table.table
                                            tbody
                                                tr
                                                    td.col-1
                                                        a.question(data-question-index='0', data-chapter-index='0') 1
                                                    td.col-2
                                                        a.question(data-question-index='1', data-chapter-index='0') 2
                                                    td.col-3
                                                        a.question(data-question-index='2', data-chapter-index='0') 3
                                                    td.col-4
                                                        a.question(data-question-index='3', data-chapter-index='0') 4
                                                    td.col-0
                                                        a.question(data-question-index='4', data-chapter-index='0') 5
                                                    td.col-1
                                                        a.question(data-question-index='5', data-chapter-index='0') 6
                                                    td.col-2
                                                        a.question(data-question-index='6', data-chapter-index='0') 7
                                                    td.col-3
                                                        a.question(data-question-index='7', data-chapter-index='0') 8
                                                    td.col-4
                                                        a.question(data-question-index='8', data-chapter-index='0') 9
                                                    td.col-0
                                                        a.question(data-question-index='9', data-chapter-index='0') 10
                                                    td.col-1
                                                        a.question(data-question-index='10', data-chapter-index='0') 11
                                                    td.col-2
                                                        a.question(data-question-index='11', data-chapter-index='0') 12
                                                    td.col-3
                                                        a.question(data-question-index='12', data-chapter-index='0') 13
                                                    td.col-4
                                                        a.question(data-question-index='13', data-chapter-index='0') 14
                                                    td.col-0
                                                        a.question(data-question-index='14', data-chapter-index='0') 15
                                                    td(colspan='5')
            .return-top-wrap.hide
                a.return-top(href='http://www.fenbidemo.com/xingce/exercises/44590885#')
