User：
收藏某套试卷
abd
收藏某个题目
标记已会某个题目
错题库标记某个题目

Page：
右侧实时显示答题卡
提交试卷永远在最下角
时间按钮和状态按钮始终在最上侧
滚到最上侧和最下侧按钮
左侧（或右侧）显示关于本试题的报告
    横向：本年度所有选择题最多选项是；各百分占比
    纵向：本试题往年最多选项和百分比
    其他报告：

Function：
有选项控制出答案和解析的时候：
    选中后立刻出
    交卷后出
    出已答的题目

可以选择是否显示实时的答题正确率，并超过n%多少的人
    是
    否

平均答题率
本试卷官方通过率
本试卷本平台平均得分
本试卷本平台通过率
本试卷已达多少人
你已经超过n%的答题者

交卷后综合分析并出报告

暂停答卷（时间停止）
改天再答题

examitem
    解析中显示：某题的易错项为X
    设置本题笔记
    本题我有话说

考试试题排行榜（风云榜）






